{{#each items}}
    <a href="./course/course.html?type={{code}}" class="cate-item">
    	<div class="icon">
        	<img src="{{formatSquareImage pic}}"/>
    	</div>
        <p>{{name}}</p>
    </a>
{{/each}}
