{{#each items}}
    <a href="./course/course.html?type=1" class="cate-item">
    	<div class="icon">
        	<img src="/static/images/receive@3x.png"/>
    	</div>
        <p>积分</p>
    </a>
{{/each}}
